<!DOCTYPE html>
<html>
<head>
    <title>Productos de Ropa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

    <div data-role="page" data-theme="a" class="pagina">
        <div data-role="header" data-theme="b"  class="navbar">
            <h1>Tienda de Ropa</h1>
            <div data-role="navbar" data-iconpos="left">
                <ul>
                    <li><a data-icon="home" data-theme="" href="/api/clothing/home<%= products.barcode %>">Inicio</a></li>
                    <li><a data-icon="plus" data-theme="" href="/api/clothing/<%= products.barcode %>">Agregar Producto</a></li>
                    <li><a data-icon="grid" data-theme="" href="/api/clothing/info<%= products.barcode %>">Contactanos</a></li>
                </ul>
            </div>
        </div>
        
        <div role="content" class="ui-content">
            <form action="" method="POST">
                <label for="barcode">Código de barras:</label>
                <input type="text" name="barcode" id="barcode">
                
                <label for="description">Descripción:</label>
                <input type="text" name="description" id="description">

                <label for="brand">Marca:</label>
                <input type="text" name="brand" id="brand">
                
                <label for="price">Precio:</label>
                <input type="number" name="price" id="price">
                
                <label for="size">Tamaño:</label>
                <input type="text" name="size" id="size">
                
                <label for="color">Color:</label>
                <input type="text" name="color" id="color">

                <label for="stock">Existencias:</label>
                <input type="number" name="stock" id="stock">

                <label for="flip-2">Disponible:</label>
                <select name="status" id="flip-6" data-role="slider" data-mini="true">
                     <option value="0">No</option>
                     <option value="1">Sí</option>
                </select>
                <button type="submit" value="Registrar" data-theme="b">Registrar</button>
            </form>
                    
        </div>
        
        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-theme="b" data-content-theme="a">
            <h4>Productos de Ropa</h4>
            <% products.forEach((product) => { %>
                <div data-role="collapsible" data-filter="<%= product.description %>">
                    <h1><%= product.description %></h1>
                    <ul data-role="listview" data-insert="false">
                        <li>Código de barras: <%= product.barcode %></li>
                        <li>Marca: <%= product.brand %></li>
                        <li>Precio: <%= product.price %></li>
                        <li>Tamaño: <%= product.size %></li>
                        <li>Color: <%= product.color %></li>
                        <li>Existencias: <%= product.stock %></li>
                        <li>Disponible: <%= product.status %></li>
                        <a href="/api/clothing/<%= product.barcode %>" class="ui-btn ui-btn-inline">Editar</a>
                        <form action="/api/clothing/delete/<%= product.barcode %>" method="get"> 
                            <li>
                                <button type="submit" id="submit-6" class="ui-btn ui-btn-inline">Eliminar</button>
                            </li>
                        </form>                        
                    </ul>
                </div>      
            <% }) %>
        </div>
        
        <div data-role="footer">
            <h4>Ana</h4>
        </div>
    </div>

</body>
</html>
